# task file for joining swarm

- name: Add Worker to Manager Node
  docker_swarm: 
    state: join
    advertise_addr: worker
    join_token: "Swarm join token: {{ host_vars[] }}"
    remote_addr: ['manager_node: 2377']
